/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Google Fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}
.container{
    max-width: 1100px;
    margin: auto; 
}
img{
    max-width: 100%;
}
header{
    background-color: black;
}
.logo h2{
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}
.menu ul{
    display: flex;
    gap: 10px;
}
.menu ul li{
    list-style: none;
    font-size: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.button li{
    list-style: none;
}
.btn{
    background-color: blue;
    padding: 8px 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    border: none;
}
/* Hero section style */
.hero-parent-root{
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.hero-parent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.hero-text{
    max-width: 584px;
    line-height: 24px;
    font-size: 20px;
    color: white;
    font-weight: 100;
    letter-spacing: 0px;
}
.hero-heading h2{
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;
}
.hero-para p{
    color: #d1d5db;
    font-size: 17px;
    line-height: 1.8;
}
.btn{
    display:inline-block;
    padding:16px 40px;
    background:#2563eb;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
}

.btn:hover{
    background:#1d4ed8;
}
/* speakers style */
.speakers{
    display:grid;
    margin-top: 30px;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.speaker-card{
    text-align:left;
    border-radius: 12px;
    overflow: hidden;
    border:1px solid #e5e7eb;
}
.speaker-card img{
    margin-bottom:20px;
}
.speaker-info{
    padding-left: 20px;
    margin-bottom: 20px;
}
.speaker-info span{
    color: #1d4ed8;
}
.speaker-info h3{
    padding: 12px 0px;
}

/* Skill Badge */
.skill{
    
}

/* register price */

.pricing{
    padding:80px 0;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:42px;
    font-weight:700;
    margin-bottom:10px;
}

.section-title p{
    color:#777;
    font-size:15px;
}

.pricing-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.price-card{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:14px;
    padding:35px;
    transition:.35s;
}

.price-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.08);
}

.price-card.active{
    background:#0f172a;
    color:#fff;
    transform:translateY(-15px);
}

.plan{
    font-size:12px;
    font-weight:700;
    letter-spacing:2px;
    color:#888;
}

.active .plan{
    color:#8ab4ff;
}

.price-card h3{
    font-size:48px;
    margin:12px 0 5px;
}

.price-card small{
    color:#888;
}

.active small{
    color:#bfc9d8;
}

.price-card hr{
    margin:28px 0;
    border:none;
    border-top:1px solid #ececec;
}

.active hr{
    border-color:#273449;
}

.price-card ul{
    list-style:none;
    margin-bottom:35px;
}

.price-card ul li{
    position:relative;
    padding-left:22px;
    margin-bottom:14px;
    color:#666;
    font-size:15px;
}

.active ul li{
    color:#d8e1f0;
}

.price-card ul li::before{
    content:"•";
    position:absolute;
    left:0;
    color:#2563eb;
}

.btn{
    display:block;
    text-align:center;
    padding:14px;
    border-radius:8px;
    font-weight:600;
    text-decoration:none;
    transition:.3s;
}

.btn-primary{
    background:#2563eb;
    color:#fff;
}

.btn-primary:hover{
    background:#1d4ed8;
}

.btn-outline{
    border:1px solid #2563eb;
    color:#2563eb;
}

.btn-outline:hover{
    background:#2563eb;
    color:#fff;
}

.btn-outline-dark{
    border:1px solid white;
    color:black;
}

.btn-outline-dark:hover{
    background:#111827;
    color:#fff;
} 

/* faq style section */
.faq{
    background:#f8fafc;
}
.section-title h2{
    font-size: 42px;
    padding-top: 20px;
}
.faq-container{
    max-width:600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.faq-container details{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:10px;
    margin-bottom:18px;
    padding:20px 25px;
    transition:.3s;
}

.faq-container details:hover{
    border-color:#2563eb;
}

.faq-container summary{
    cursor:pointer;
    font-size:18px;
    font-weight:600;
    list-style:none;
}

.faq-container summary::after{
    content:"+";
    float:right;
    font-size:22px;
    color:#2563eb;
}
.faq-container p{
    margin:18px 0px;
    line-height:1.7;
    color:#64748b;
}
/* newsletter section */

.newsletter{
    padding:90px 0;
}

.newsletter-box{
    max-width:850px;
    margin:auto;
    text-align:center;
    background:#0f172a;
    color:#fff;
    padding:60px;
    border-radius:18px;
}

.tag{
    display:inline-block;
    background:#2563eb;
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
    margin-bottom:20px;
}

.newsletter-box h2{
    font-size:42px;
    margin-bottom:18px;
}

.newsletter-box p{
    color:#cbd5e1;
    max-width:620px;
    margin:auto;
    line-height:1.8;
}

.newsletter form{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.newsletter input{
    width:380px;
    padding:16px 20px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

.newsletter button{
    padding:16px 34px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:#fff;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.newsletter button:hover{
    background:#1d4ed8;
}
/* footer section */
footer{
    background-color: black;
}
.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 0px;
}
.footer-top, .footer-bottom{
    color: white;
}
.footer-logo img{
    width:170px;
}

.social-icons{
    display:flex;
    gap:15px;
}
.footer-bottom{
    text-align: center;
    padding: 20px 0;
}